/**
  All font proprieties
*/

//font size
.fs-11 {
  font-size: 11px;
}

//font-weight
.fw-300 {
  font-weight: 300;
}

// line height
.lh-20 {
  line-height: 20px;
}

// text-decoration
.td-underline {
  text-decoration: underline;
}

// text transform
.tt-uppercase {
  text-transform: uppercase;
}

.tt-lowercase {
  text-transform: lowercase;
}

// text-align 
.ta-center {
  text-align: center;
}

.ta-justify {
  text-align: justify;
}