/**
  All margins styles
*/

/* --- top margin --- */

.m-top-10 {
  margin-top: 10px;
}

/* --- right margin --- */

.m-right-10 {
  margin-right: 10px;
}

/* --- bottom margin --- */

.m-bottom-10 {
  margin-bottom: 10px;
}

/* --- left margin --- */

.m-left-10 {
  margin-left: 10px;
}

/* --- general margin --- */

.m-10 {
  margin: 10px;
}