/**
  All padding styles
*/

/* --- top padding --- */
.p-top-10 { padding-top: 10px; }

/* --- right padding --- */
.p-right-10 { padding-right: 10px; }

/* --- bottom padding --- */
.p-bottom-10 { padding-bottom: 10px; }

/* --- left padding --- */
.p-left-10 { padding-left: 10px; }

/* --- general paddings --- */
.p-10 { padding: 10px; }