<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<title>Jaison Schmidt - Web Developer</title>

	<link href="css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

</head>
<body>
	<header class="ta-center">

		<img src="img/jaison-schmidt-photo.jpg" alt="a beautiful photo of me">

		<h1>Jaison Schmidt</h1>
		<span>Front-end Developer</span>
	</header>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">

					<h2>
						Hello World!
					</h2>

					<p class="ta-justify">
						Welcome to my résumé. My full name is Jaison Dairon Ebertz Schmidt, but I prefer only <strong>Jaison Schmidt</strong>. At this time I live in <a href="https://www.google.com.br/maps/place/Passo+Fundo+-+RS/@-28.266139,-52.5851219,11z/data=!3m1!4b1!4m5!3m4!1s0x94e2bf7e7e8ce7ab:0xb328960779f49b4e!8m2!3d-28.2587812!4d-52.4160039" target="_blank" title="Where are Passo Fundo city?">Passo Fundo</a>, <a href="https://en.wikipedia.org/wiki/Brazil" title="Caipirinha, samba and Ronaldinho! Know more about Brazil!">Brazil</a> and I was born in 
						February 02, 1984 (33 years old). I started work with HTML in 1998, when I make my first website (ok, a table website with animated gifs, shame on me). Since that time I work with <strong>front-end tecnologies</strong>.
					</p>

					<p>In the next sections I will show you a little about my personal life and all the relevant informations about my professional carrer.</p>

				</div>
			</div>
		</div>
		
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">

					<h2>
						About me
					</h2>

					<p class="ta-justify">
						As you can see at the top of this website my first talent is not to take pictures. I like to studie new technologies (I'm self-taught), but I believe that We need to have time to do more things, not only stay in front of the computer.
					</p>

					<p>
						Therefore, I like to run and ride my bike 
					</p>

				</div>
			</div>
		</div>
		
	</section>

</body>
</html>