<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<title>Jaison Schmidt - Web Developer</title>

	<link href="css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

</head>
<body>
	<header class="ta-center">

		<img src="img/jaison-schmidt-photo.jpg" alt="a beautiful photo of me">

		<h1>Jaison Schmidt</h1>
		<span>Front-end Developer</span>
	</header>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">

					<h2>
						Hello visitor!
					</h2>

					<p class="ta-justify">
						Welcome to my résumé. My full name is Jaison Dairon Ebertz Schmidt, but I prefer only <strong>Jaison Schmidt</strong>. At this time I live in <a href="https://www.google.com.br/maps/place/Passo+Fundo+-+RS/@-28.266139,-52.5851219,11z/data=!3m1!4b1!4m5!3m4!1s0x94e2bf7e7e8ce7ab:0xb328960779f49b4e!8m2!3d-28.2587812!4d-52.4160039" target="_blank" title="Where are Passo Fundo city?">Passo Fundo</a>, <a href="https://en.wikipedia.org/wiki/Brazil" title="Caipirinha, samba and Ronaldinho! Know more about Brazil!">Brazil</a> and I was born in 
						February 02, 1984 (33 years old). I started work with HTML in 1998, when I make my first website (ok, a table website with animated gifs, shame on me). Since that time I work with <strong>front-end technologies</strong>.
					</p>

					<p>In the next sections I will show you a little about my personal life and all the relevant informations about my professional carrer.</p>

				</div>
			</div>
		</div>
		
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">

					<h2>
						About me
					</h2>

					<p class="ta-justify">
						As you can see at the top of this website my first talent is not to take pictures. I like to study new technologies (I'm self-taught), but I believe that We need to have time to do more things, not only stay in front of the computer.
						Therefore, I like to run and ride my bike (visite my <a href="https://www.strava.com/athletes/8756473" target="_blank">Strava profile</a>). If you want to see some pictures of my cats or, sometimes, my photos, please visite my <a href="https://www.facebook.com/jaison.schmidt" target="_blank">Facebook profile</a>. =)
					</p>

					<p>
						Ok I know: "On CV write only essential informations!". Ok, bellow you find my professional informations!
					</p>

				</div>
			</div>
		</div>
		
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">

					<h2>
						Professional Profile
					</h2>

					<p>You can see my professional profile at <a href="https://www.linkedin.com/in/jaison-schmidt-19b80725">Linkedin</a>.</p>

					<h3>Current Job</h3>

					<p class="ta-justify">
						<strong>Compasso UOL Diveo</strong> - Front-end developer - <a href="http://www.compasso.com.br">Website</a><br/>
						Started on September 12, 2016.
					</p>

					<p class="ta-justify">
						<strong>Jaison.com.br</strong> - Founder - <a href="https://jaison.com.br">Website</a><br/>
						This is my website. Here I sell video courses made by me.
					</p>

					<h3>Previous Experiences</h3>

					<p class="ta-justify">
						<strong>Webb House</strong> - Founder - <a href="http://webbhouse.com.br">Website</a><br/>
						This is my professional website. It is currently outdated (Sorry).
					</p>

					<p class="ta-justify">
						<strong>MSDevelop</strong> - Front-end developer - <a href="http://www.yellowfin.com.br">Website</a><br/>
						May 2013 – Jun 2014
					</p>

					<p class="ta-justify">
						<strong>DevMedia</strong> - Instructor - <a href="http://devmedia.com">Website</a><br/>
						Jan 2008 – Jan 2014
					</p>

					<p class="ta-justify">
						<strong>Passo Fundo University</strong> - Webdesigner - <a href="http://www.upf.br">Website</a><br/>
						Nov 2006 – May 2013
					</p>

					<h3>
						Education
					</h3>

					<p class="ta-justify">
						<strong>MSc in Computer Science</strong><br/>
						Passo Fundo University / 2015 - 2017
					</p>

					<p class="ta-justify">
						<strong>Graduate Studies in Project Management</strong><br/>
						UNISUL / 2013 - 2015
					</p>

					<p class="ta-justify">
						<strong>Bachelor of Science in Computer Science</strong><br/>
						Passo Fundo University / 2006 - 2011
					</p>

				</div>
			</div>
		</div>
		
	</section>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>My Skills</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					Front-end technologies 
				</div>
			</div>

			<div class="row">
				
				<div class="col-md-4">
					<h3>HTML <span class="stars">&starf;&starf;&starf;&starf;</span></h3>
				</div>

				<div class="col-md-4">
					<h3>CSS <span class="stars">&starf;&starf;&starf;&starf;</span></h3>
				</div>

				<div class="col-md-4">
					<h3>JavaScript <span class="stars">&starf;&starf;&starf;&starf;</span></h3>
				</div>

			</div>

			<div class="row">
					
				<div class="col-md-4">
					<h3>Bootstrap <span class="stars">&starf;&starf;&starf;&starf;&starf;</span></h3>
				</div>

				<div class="col-md-4">
					<h3>MaterializeCSS <span class="stars">&starf;&starf;&starf;&starf;</span></h3>
				</div>

				<div class="col-md-4">
					<h3>Zurb Foundation <span class="stars">&starf;&starf;</span></h3>
				</div>

			</div>

			<div class="row">
					
				<div class="col-md-4">
					<h3>jQuery <span class="stars">&starf;&starf;&starf;&starf;</span></h3>
				</div>

				<div class="col-md-4">
					<h3>AngularJS <span class="stars">&starf;&starf;&starf;&starf;</span></h3>
				</div>

				<div class="col-md-4">
					<h3>ReactJS <span class="stars">&starf;</span></h3>
				</div>
	
			</div>

			<div class="row">
					
				<div class="col-md-4">
					<h3>SASS <span class="stars">&starf;&starf;&starf;</span></h3>
				</div>

				<div class="col-md-4">
					<h3>LESS <span class="stars">&starf;&starf;</span></h3>
				</div>

				<div class="col-md-4">
					<h3>GULP <span class="stars">&starf;&starf;&starf;</span></h3>
				</div>
	
			</div>

			<div class="row">
				<div class="col-xs-12">
					Back-end technologies 
				</div>
			</div>

			<div class="row">
				
				<div class="col-md-4">
					<h3>PHP <span class="stars">&starf;&starf;&starf;</span></h3>
				</div>

				<div class="col-md-4">
					<h3>MySQL <span class="stars">&starf;&starf;&starf;</span></h3>
				</div>

				<div class="col-md-4">
					<h3>NodeJS <span class="stars">&starf;&starf;</span></h3>
				</div>

			</div>

		</div>
	</section>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>English skills</h2>
				</div>
			</div>

			<div class="row">
					
				<div class="col-md-4">
					<h3>Read <span class="stars ignore-mg">intermediate</span></h3>
				</div>

				<div class="col-md-4">
					<h3>Write <span class="stars ignore-mg">intermediate</span></h3>
				</div>

				<div class="col-md-4">
					<h3>Talk <span class="stars ignore-mg">basic</span></h3>
				</div>

			</div>

		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>Skills To Do List</h2>
					Below is a list of skills that I have to improve and some goals.
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<ul>
						<li>Study English</li>
						<li>Obtain a Front-end Certification</li>
						<li>Start a Computer Science Ph.D</li>
					</ul> 
				</div>
			</div>
		</div>
	</section>

	<footer class="ta-center">
		<p>Want to talk with me?</p>
		<p>Whatsapp: +55 54 9 99776648<br/>
		Email jaisonschmidt@gmail.com</p>
	</footer>

</body>
</html>